html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  color: #474747;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cantarell', sans-serif; 
}

h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
}

h2 {

}

h3 {

}

p{

  font-size: 12pt;
  line-height: 18px;
  font-family: 'Lato', sans-serif;

}


/* GRID */

#container {
  margin: 0;
  padding: 0;
  background: url(../images/panel1.jpg) no-repeat center center fixed;
  background-size: cover;
  
}
.content {
  margin: 0 auto;
  width: 90%;
}

/* BUTTONS */

.button {
  border-radius: 10px;
  font-color: #ffffff;
  font-weight: 700;
  color: #E36B52;
  padding: 10px 30px;
  box-shadow: 0px 3px 0px 0px #474747;
}

/* NAV */

.hero img {
  margin-top: 40px;
  margin-left: 30px;
}

#nav{
  position: absolute;
   top: 50px;
  right: 100px;
}

.navbutton {
  list-style-type: none;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  font-size: 14px;
  color: #ffffff;
  line-height: 108px;
  text-align: center;
  background: #4FA5B1;
}

ul {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
    list-style-type: none;
}

li {
    width: 120px;
    float: left;
}

/* HEADER PANEL */

.resize {
  float: right;
}

#nav .container {
  margin: auto;
  width: 100%;
}

.hero {
font-family: 'Cantarell', sans-serif; 
font-size: 14pt;
max-width: 100%;
margin: top;

}

.hero h3 {
  margin-left: 70px;
}

.hero h1 {
margin-top: 0;
margin-left: 70px;

}
.hero p {
  margin-top: 10px;
  margin-left: 70px;
}

.hero button {
  margin-left: 10px;
}

.hero input {
margin-left: 70px;
}


/* PANEL 2 */


.panel2 {
  background-image: url(../images/image2.png);
  background-size: cover;
  height: 600px;
  background-repeat: no repeat;
  max-width: 100%;
  position: top;
}

/* SPECS */

.specs {
  background-color: #4FA1AA;
  height: 600px;
  width: 100%;
}

/* GALLERY */

.container .gallery {
  margin: auto;
  width: 100%;
}

.gallery {
  background-color: #70BE98;
}

/* JOIN NOW */

.container .joinnow {
  margin: auto;
  width: 100%;
}

.joinnow {
  background-color: #4FA1AA;
  color: #474747;
  height: 130px;
  font-size: 10pt;
  font-weight: 400;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
}


/* FOOTER */

.container #footer{
  margin: auto;
  width: 100%;
}

#footer {
  background-color: #ffffff;
  color: #474747;
  height: 50px;
  font-size: 10pt;
  font-weight: 400;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
}