html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  color: #474747;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

h1 {

}

h2 {

}

h3 {

}

p{

  font-size: 12pt;
  line-height: 18px;
  font-family: 'Lato', sans-serif;

}

/* GRID */

.container {
  box-sizing: border-box;
}

/* BUTTONS */

.button {
  border-radius: 10px;
  font-color: #ffffff;
  font-weight: 700;
  color: #E36B52;
  padding: 10px 30px;
  box-shadow: 0px 3px 0px 0px #474747;
}

/* NAV */

#logo {
  position: absolute;
  top: 25px;
  left: 25px;
}
#nav{
  position: absolute;
   top: 50px;
  right: 100px;
}
.navbutton {
  list-style-type: none;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  font-size: 14px;
  color: #ffffff;
  line-height: 108px;
  text-align: center;
  background: #4FA5B1;
}

ul {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
    list-style-type: none;
}

li {
    width: 120px;
    float: left;
}

/* HEADER PANEL */

.resize {
  float: right;
}

.header {
background-image: url(../images/panel1.jpg);
background-size: cover;
height: 600px;
font-family: 'Cantarell', sans-serif; 
font-size: 14pt;
background-repeat: no-repeat;
max-width: 100%;
margin-top: 250px;
}


/* JOIN NOW */
.joinnow {
  background-color: #4FA1AA;
  color: #474747;
  height: 130px;
  font-size: 10pt;
  font-weight: 400;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
}


/* FOOTER */

#footer {
  background-color: #ffffff;
  color: #474747;
  height: 50px;
  font-size: 10pt;
  font-weight: 400;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
}