html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  color: #474747;
  margin: 0;
  cursor: default;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cantarell', sans-serif; 
}

h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 5px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
  line-height: 32px;
  padding-top: 20px
}

p {

  font-size: 12pt;
  line-height: 20px;
  font-family: 'Playfair Display', serif;
}


/* GRID */

#container {
  margin: 0;
  padding: 0;
  background: url(../images/panel1.jpg) no-repeat center center fixed;
  background-size: cover;
  }
  
.panel {
  width: 100%;
  margin: 0;
  padding: 0;
}

.content {
  margin: 0 auto;
  width: 90%;
  border: 1px solid red;
}

/* FORMS & BUTTONS */

form {
  font-size: 14px;
  margin-right: 13px;
  color: #4FA5B1;
}

input {
  font-size: 12px;
  width: 200px;
  padding-right:;
  
}

button {
  border-radius: 8px;
  background-color: #E36B52;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 1px;
  padding: 5px 20px;
}


/* HEADER PANEL */

.content header {
  padding: 30px 0px 10px 0;
  z-index: 300px;
}

.content header #nav{
  position: absolute;
  top: 50px;
  right: 50px;
}

.content header #nav .navbutton {
  list-style-type: none;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  font-size: 12px;
  color: #ffffff;
  line-height: 95px;
  text-align: center;
  margin-right: 5px;
  background: #4FA5B1;
}

.content header #nav ul {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
    list-style-type: none;
}

.content header #nav li {
  float: left;
  margin-right: 30px;
}

.content header #nav li:last-child {
  margin-right: 0px;
}

/* HERO PANEL */

.intro {
  margin-left: 60px;
  margin-top: 60px;
  margin-bottom: 100px;
  width: 45%;
}

.intro p{
  line-height: 1.6em;
}

.top .vespa {
  background-image: url(../images/vespahero.png) no-repeat center center fixed;
  float: right;
  padding-top: 150px;
  margin-right: -75px;
  border: 1px solid red;
}

/* PANEL 2 */


.adventure {
  background-image: url(../images/vespa_panel2.jpg);
  background-size:cover;
  height: 500px;
  background-repeat: no-repeat;
  max-width: 100%;
  position: top;
}

.adventure .content div{
  float: right;
  background: #fff;
  height: 440px;
  padding: 30px;
  opacity: .85;
  display: block;
  width: 32%;
  margin-right: 80px; 
}

.adventure .content h1{
  padding-top: 30px;
}

.adventure .content p{
  margin-bottom: 56px;
}


/* SPECS */

.specs {
  background-color: #cbe3e6;
  height: 525px;
}

.specs h1{
  padding-top: 40px;
  margin-left: 50px;
}

.specs img{
  margin-left: 25%;
  margin-right: 25%;
}

/* GALLERY */

.gallery {
  background-color: #d8ede3;
  height: 725px;
}

.gallery h1{
  padding-top: 40px;
  text-align: center;
}

.gallery #galleryhero img {
  padding-top: 20px;
  margin: 0 auto;
  display: block;
  width: 50%;
}

.gallery .content ul {
  margin: 20px auto 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.gallery .content ul li {
  display: inline;
  margin-right: 20px;
}

.gallery .content ul li:last-child {
  margin-right: 0;
}


.gallery #smallerimages {
  margin: 0 auto;
  display: block;
  width: 50%;
  padding: 30px;
}


/* JOIN NOW */


.joinnow {
  background-color: #95c7cc;
  height: 115px;
  padding-top: 10px;
  text-align: center;
  position: relative;
}


/* FOOTER */

.footer {
  background-color: #ffffff;
  height: 50px;
  padding-top: 20px;
  font-size: 7pt;
  text-align: center;
  position: relative;
}